In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('book.csv')

In [4]:
df.head()

,Unnamed: 0,userID,ISBN,bookRating,bookTitle,totalRatingCount,Location
0,0,276725,034545104X,0,Flesh Tones: A Novel,60,"tyler, texas, usa"
1,1,2313,034545104X,5,Flesh Tones: A Novel,60,"cincinnati, ohio, usa"
2,2,6543,034545104X,0,Flesh Tones: A Novel,60,"strafford, missouri, usa"
3,3,8680,034545104X,5,Flesh Tones: A Novel,60,"st. charles county, missouri, usa"
4,4,10314,034545104X,9,Flesh Tones: A Novel,60,"beaverton, oregon, usa"

In [12]:
df.groupby(by='bookTitle',sort=True)['bookRating'].mean().sort_values(ascending=False)

bookTitle
Das Parfum: Die Geschichte Eines Morders            10.000000
Matilda                                              8.000000
Harry Potter and the Chamber of Secrets (Book 2)     6.720588
MÃ?Â¶rder ohne Gesicht.                              6.500000
Ender's Game (Ender Wiggins Saga (Paperback))        5.857143
                                                      ...
The Law of Love                                      1.000000
Legend                                               0.777778
Hannibal                                             0.000000
Childhood's End                                      0.000000
The Return                                           0.000000
Name: bookRating, Length: 198, dtype: float64